<html>
<body>
    <h3>Fatigue dataset input</h3>

<div>
  <form action="/result" method="POST">
    <label for="TT">Tempering Temperature</label>
    <input type="text" id="TT" name="TT">
    <br>
    <label for="C">% Carbon </label>
    <input type="text" id="C" name="C">
    <br>
    <label for="Cr">% Chromium </label>
    <input type="text" id="Cr" name="Cr">
    <br>
    <label for="Mn">% Manganese </label>
    <input type="text" id="Mn" name="Mn">
    <br>
    <label for="P">% Phosporous </label>
    <input type="text" id="P" name="P">
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>